@media(min-width:320px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15%;
        height: 100vh;
        background: linear-gradient(to right,#ffffff,#015249,#57bc90,#a5a5af)
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 700px;
        height: 150px;
        width: 100%;
    }
    .main {
        max-width: 768px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    h1 {
        margin: 0;
        padding: 0;
        
        position: absolute;
        top: 50%;
        left: 50%;
        
        color: rgba(90, 201, 153, 0.733);
        font-size: 7vmin;
        text-align: center;
        text-transform: uppercase;
      
        transform: translate3d(-50%, -50%, 0);
      }
    .home {
        width: 100%;
        height: 100%;
    }
    .wrap {
        height: 100%;  
        position: relative;
        overflow: hidden;
    
        .bg {
            width: 100%;
            height: 100%;
            
           
            top: 0;
            left: 0;
            
            background: url('../assets/questionary.jpg') no-repeat center center;
            background-size: cover
    }
    }
    .goal-container,
    .form-container {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px 0px 50px;
        width: 100%;
        height: 100%;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        color: rgb(20, 20, 20);
        font-size: 18px;
    }
    .question-container {
        display: none;
    }
    .goal-container-helper {
        padding: 0 50px;
    }
    p {
        color: #381147;
        font-family:Lucida Sans Unicode;
        font-size: 22px;
    }
    li {
        color: #381147;
        font-family:Lucida Sans Unicode;
        font-size: 22px;
        padding: 10px 0;
    }
    .form-step {
        padding: 50px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 700px;
        height: 500px;
        width: 100%;
        background: linear-gradient(to right ,rgba(119, 201, 212, 0.65), rgba(63, 139, 106, 0.65)) ;
        border-radius: 10px;
        overflow-y: auto;
    }
    .answer-container{
        display: flex;
        margin: 10px 0;
        label{
            margin-left: 4px;
        }
        input[type=text] {
            margin-left: 4px;
        }
        span {
            margin-bottom: 0px;
            margin-left: 4px;
        }
    }
    .first-step-input {
        display: flex;
        flex-direction: column
    }
    span {
        color: #381147;
        font-family:Lucida Sans Unicode;
        margin-bottom: 20px;
    }
    a {
        color: white;
        font-family:Lucida Sans Unicode;
        font-size: 24px;
        text-decoration: none;

    }
    button {
        margin: 10px 0;
        border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
        border-style: solid;
        border-width: 1px;
        border-radius: 15px;
        padding: 1px 7px 2px;   
        align-items: flex-start;
        text-align: center;
        cursor: default;
        color: black;
        background-color: rgba(212, 245, 122, 0.815);
        box-sizing: border-box;
        width: 150px;
        min-height: 30px;
    }
    button:last-child{
        margin-bottom: 20px;
    }
}