@media(min-width:320px) {
    .App {
        max-width: 768px;
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 1000px;
        background: linear-gradient(to bottom, yellow,red);
    }
}